<p style="color: green"><%= notice %></p>

<div class='border font-bold text-red-700'>Dashboard</div>

<div id="dashboard">
  <%= link_to 'Movies', topics_path('movies'), class: 'font-xl' %>
  <%= link_to 'Foods', topics_path('foods') %>
  <%= link_to 'Books', topics_path('books') %>
</div>
