<p style="color: green"><%= notice %></p>

<h1 class='font-3xl'>Dashboard</h1>

<div id="dashboard">
  <%= link_to 'Movies', topics_path('movies') %>
  <%= link_to 'Foods', topics_path('foods') %>
  <%= link_to 'Books', topics_path('books') %>
</div>
