<div id="<%= dom_id topic %>">
  <p>
    <strong>Title:</strong>
    <%= topic.title %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= topic.rating %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= topic.type %>
  </p>

</div>
