<p style="color: green"><%= notice %></p>

<h1 class='font-3xl'><%= params[:type].titleize  %></h1>

<div id="topics">
  <%= render 'topics/topic', topic: @topic  %>
</div>

<%= link_to "New topic", new_topic_path %>
