<% if options.drop(1).present? %>
  <div class='flex justify-center'>
    <div class='card w-[500px]'>
      <p class='font-bold text-center'>History</p>
      <div class=' rounded-lg max-h-[400px] overflow-y-auto'>
        <ul>
          <% options[..-2].each_with_index do |option, index|%>
              <li class='<%= index.even? ? "bg-gray-100" : "bg-white" %> flex items-start justify-between rounded px-2'>
                <%=option.title%> 
                <%= render 'layouts/stars', rating: option.rating%>
              </li>
          <%end%>
        </ul>
      </div>
      <div class='flex justify-center py-2'>
        <%= button_to "Clear History", clear_history_path, class: 'btn-clear'%>
      </div>
    </div>
  </div>
<% end %>